# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.tox/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment variables / local configuration
.env
.env.local

# AWS SecureOps Outputs / Logs
output/
*.log
